# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/
#.vscode/  # Descomenta si no quieres incluir la configuración de VS Code

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android build outputs
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# dotenv environment variables file
.env*

# JavaScript/Dart2JS outputs
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# pubspec.lock (optional)
pubspec.lock
